.back-to-top {
  position: fixed;
  bottom: 2vw;
  right: 2vw;
  display: none;
  padding: 0 0;
  border: 0;
  cursor: pointer;
  z-index: 1000;
  opacity: 0.5;
  pointer-events: auto;
  max-width: 100vw;
}
.back-to-top:hover {
  opacity: 1;
}
.back-to-to-pressed {
  opacity: 0.5;
}